.ash {
  background: white;
  color: black;
  direction: ltr;
  text-align: left;
}

pre .ash {
  border: 1px solid;
  display: block;
  overflow: auto;
  padding: .5em .75em;
  white-space: pre;
}

.ash .bol {
  font-weight: bold;
}

.ash .ita {
  font-style: italic;
}

.ash .stk {
  text-decoration: line-through;
}

.ash .cod,
.ash .com {
  color: gray;
}

.ash .con,
.ash .que.id,
.ash .quo {
  color: olive;
}

.ash .err {
  background: red;
  color: white;
}

.ash .exp,
.ash .que.pse {
  color: crimson;
}

.ash .cla,
.ash .fun,
.ash .que {
  color: darkolivegreen;
}

.ash .key,
.ash .mar .nam {
  color: indigo;
}

.ash .lib {
  color: sienna;
}

.ash .num,
.ash .uri,
.ash .val {
  color: blue;
}

.ash .log {
  color: navy;
}

.ash .str {
  color: green;
}

.ash .sym {
  color: orangered;
}

.ash .sec,
.ash .typ {
  color: steelblue;
}

.ash .wor {
  color: firebrick;
}
