.ash {
  background: #333;
  color: #fff;
  direction: ltr;
  text-align: left;
}

.ash [class^="t:"] {
  color: #fff;
}

pre .ash {
  display: block;
  overflow: auto;
  padding: .5em .75em;
  white-space: pre;
}

.ash .bol {
  font-weight: bold;
}

.ash .ita {
  font-style: italic;
}

.ash .stk {
  text-decoration: line-through;
}

.ash .cod,
.ash .com {
  color: #888;
}

.ash .err {
  background: #f00;
}

.ash .exp,
.ash .uri,
.ash .que .pse {
  color: #c6b4f0;
}

.ash .cla,
.ash .nam,
.ash .quo {
  color: #ffa;
}

.ash .mar,
.ash .sec {
  color: #62c8f3;
}

.ash .mar .nam {
  color: inherit;
  font-weight: bold;
}

.ash .mar .val {
  color: #a2fca2;
}

.ash .fun,
.ash .lib,
.ash .mar .key,
.ash .val,
.ash .que .cla,
.ash .que .id {
  color: #ade5fc;
}

.ash .key {
  color: #ffa;
}

.ash .num,
.ash .sym {
  color: #d36363;
}

.ash .str {
  color: #a2fca2;
}

.ash .typ {
  color: #fc9b9b;
}

.ash .log,
.ash .que .nam,
.ash .wor {
  color: #fcc28c;
}
