.ash {
  background: #3f3f3f;
  color: #dcdcdc;
  direction: ltr;
  display: block;
  overflow: auto;
  padding: .5em .75em;
  text-align: left;
  white-space: pre;
}

.ash .com {
  color: #7f9f7f;
}

.ash .inh {
  color: #dcdcdc; /* Same as main color */
}

.ash .key {
  color: #e3ceab;
}

.ash .num {
  color: #8cd0d3;
}

.ash .str {
  color: #cc9393;
}

.ash .tag {
  color: #e3ceab;
  font-weight: bold;
}

.ash .tag .nam {
  color: #efef8f;
}

.ash .typ {
  color: #7f9f7f;
}

.ash .val {
  color: #cc9393;
}

.ash .wor {
  color: #e3ceab;
}

.ash .lib {
  color: #efef8f;
}

.ash .log {
  color: #efefaf;
}
