.ash {
  background: #2f4f4f;
  color: #c0c0c0;
  direction: ltr;
  display: block;
  overflow: auto;
  padding: 1em 1.25em;
  text-align: left;
  white-space: pre;
}

.ash .com {
  color: #666;
}

.ash .inh {
  color: #c0c0c0; /* Same as main color */
}

.ash .key {
  color: #98fb98;
}

.ash .num {
  color: #87ceeb;
}

.ash .str {
  color: #66cdaa;
}

.ash .wor {
  color: #fa8072;
}

.ash .log {
  color: #ffa07a;
}
